@font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-DemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brans';
    src: url('../assets/fonts/Brans-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
  