@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

.text-light-shadow {
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.405);
}

.text-vlight-shadow {
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.312);
}


/* index.css or styles.css */
.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-pane,
.leaflet-shadow-pane,
.leaflet-overlay-pane,
.leaflet-map-pane,
.leaflet-control-container {
  z-index: 0 !important;
}

@layer components {
  .leaflet-container,
  .leaflet-pane,
  .leaflet-tile,
  .leaflet-marker-pane,
  .leaflet-shadow-pane,
  .leaflet-overlay-pane,
  .leaflet-map-pane,
  .leaflet-control-container {
    z-index: 0 !important;
  }
}